* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 0.7em;
  background: var(--off-white);
}
::-webkit-scrollbar-thumb{
  background-color: var(--dark-brown);
  transition: .2s;
  cursor: pointer;
}
:root {
  --dark-brown: #3a2e1f;
  --off-white: #f9f6f1;
  --light-brown: #7f6b59;
  --BTN-COLOR: #6e5842;
  --white:white;
  --black:black;
  .dark-mode{
  --dark-brown: #e6e3dd;
  --off-white: #313131;
  --light-brown: #7f6b59;
  --BTN-COLOR: #6f645a;
  --white:black;
  --black:white;
  }
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  color: var(--light-brown);
  height: 11vh;
  width: 100%;
  background: var(--off-white);
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  transition: .5s;

}
nav {
  width: 45%;
  font-size: 1.2em;
  transition: .5s;
}
nav ul{
  padding: 0;
}
nav ul a {
  color: var(--black);
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
nav ul a:hover {
  color: var(--light-brown);
}
.menu {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 2.3em;
  height: 2.5em;
  margin-right: 3em;
  cursor: pointer;
}
.s {
  width: 100%;
  height: 5px;
  border-radius: 0.5em;
  background-color: var(--black);
}
#s1,
#s2,
#s3 {
  transition: 0.2s;
}
#menu-toggle.active #s1 {
  transform: rotate(45deg) translate(10px, 5px);
}
#menu-toggle.active #s2 {
  opacity: 0;
}
#menu-toggle.active #s3 {
  transform: rotate(-45deg) translate(10px, -5px);
}
#menu.active {
  opacity: 1;
  pointer-events: auto;
}
nav.active {
  opacity: 1;
}
#theme-toggle{
  border: none;
  background:none;
  font-size: 2em;
}
/************home*/
.home {
  height: 90vh;
  margin-top: 10vh;
  background-color: var(--off-white);
  transition: .5s;
}
.home img {
  width: 25em;
}
.txt {
  width: 30%;
}
.txt h2 {
  color: var(--dark-brown);
  font-size: 3em;
  span {
    color: var(--light-brown);
  }
}
.txt p {
  color: gray;
  font-size: 1.1em;
}
.button {
  width: 13em;
  height: 2.8em;
  margin-top: 1em;
  color: white;
  background-color: var(--BTN-COLOR);
  transition: 0.2s ease-in-out;
}
.button,
.img5 {
  border-bottom-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button:hover {
  background-color: #6a625a;
}
.img1 {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 2em;
  box-shadow: 0 3px 8px gray;
}
.img2,
.img3 {
  border-top-left-radius: 25%;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 3px 8px gray;
}
/***********design********/
.design {
  height: 100vh;
  background-color: var(--dark-brown);
  color: var(--white);
  position: relative;
  transition: .5s;
}
.design-txt {
  position: absolute;
  top: 5em;
  right: 3em;
  width: 30vw;
  height: 50vh;
  h3 {
    font-size: 2.5em;
    width: 20vw;
  }
  p {
    color: gray;
    width: 80%;
  }
}
.design img {
  /* width: 30em; */
  position: absolute;
}
.img3 {
  bottom: 5em;
  left: 10%;
  width: 30em;
  box-shadow: none;
}
.img4 {
  width: 20em;
  height: 60vh;
  object-fit: cover;
  bottom: 12em;
  left: 35%;
  border-bottom-right-radius: 1.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
.img5 {
  width: 30em;
  height: 30vh;
  object-fit: cover;
  bottom: 2em;
  right: 20%;
}
/***********unique*/
.unique {
  height: 100vh;
  width: 100%;
  transition: .5s;
  background-color: var(--off-white);
  h2 {
    color: var(--dark-brown);
    margin-top: 0.8em;
    font-size: 2.5em;
  }
  p {
    color: rgb(140, 140, 140);
  }
}
.unique img,
.photo div {
  width: 20em;
  height: 50vh;
  object-fit: cover;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.25s ease-in-out;
}
.photos {
  height: 75%;
  width: 100%;
}
.photo {
  overflow: hidden;
  height: 95%;
  h3 {
    margin-top: 0.5em;
    color: var(--black);
  }
}
.unique img:hover {
  transform: rotate(3deg) scale(1.1);
}
/**********about*/
.about {
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  height: 90vh;
  transition: .5s;
  background-color: var(--dark-brown);
  color: var(--white);
}
.about-left {
  height: 100%;
}
.img6 {
  height: 90vh;
  width: 100%;
}
.about-right {
  padding-top: 5em;
  padding-left: 1.5em;
  h2 {
    font-size: 3em;
    width: 75%;
  }
  p {
    color: gray;
    width: 80%;
  }
}
.right-ab {
  margin-bottom: 1.5em;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: start;
  span {
    font-size: 2.8em;
    margin-right: 0.6em;
    background-color: var(--light-brown);
    width: 1.8em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  div {
    p {
      margin: 0;
    }
    h3 {
      font-size: 1.5em;
    }
  }
}
.about-left div {
  width: 6em;
  height: 6em;
  background-color: #372a1d9f;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  margin-left: 0.15em;
  cursor: pointer;
}
/*******7ekma*/
.wisdom {
  position: relative;
  height: 62vh;
  background-color: var(--off-white);
  transition: .5s;
}
.inner-txt {
  width: 35%;
  height: 65%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  color: var(--light-brown);
}
.inner-txt h2 {
  position: absolute;
  font-size: 5em;
  top: 15%;
  left: 30%;
  margin: 0;
  color: var(--light-brown);
}
.inner-txt h4 {
  font-size: 2em;
}
.inner p {
  font-size: 0.9em;
  margin: 0;
}
.inner p:nth-child(2) {
  color: gray;
}
/*******gallery*/
.gallery {
  grid-template-columns: repeat(4, 1fr);
  height: 70vh;
}
.item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 5em 2em;
  color: white;
  background-color: #4b341f54;
  transition: 0.2s;
  a {
    color: white;
  }
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.479);
}
.it1 {
  background-image: url(img/table.jpg);
}
.it2 {
  background-image: url(img/seat.jpg);
}
.it3 {
  background-image: url(img/storage.avif);
}
.it4 {
  background-image: url(img/access.jpg);
}
.it1,
.it2,
.it3,
.it4 {
  background-size: cover;
}
/******blog***********/
.blog-sec {
  background-color: var(--off-white);
  padding: 3em 0;
  color: var(--black);
  transition: .5s;
}
.news {
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
.blog {
  width: 40vw;
}
.blog img {
  width: 100%;
  height: 50vh;
  margin-bottom: 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top-left-radius: 18%;
  border-top-right-radius: 18%;
  object-fit: cover;
  box-shadow: 0 0 5px gray;
}
/*****footer*/
footer {
  height: 35vh;
  transition: .5s;
  background-color: var(--dark-brown);
  color: var(--light-brown);
  font-weight: bold;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2em;
  padding: 1em 7em;
  a {
    color: var(--white);
    width: fit-content;
    transition: 0.1s;
  }
  p {
    font-size: 1.2em;
  }
}
footer a:hover {
  text-decoration: underline;
}
.logo:hover{
  color: var(--light-brown);
  text-decoration: none;
}
.contact-btn:hover{
  text-decoration: none;
}
.soc,
.foot {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.soc {
  width: 15vw;
  padding: 0;
  justify-content: start;
  a {
    margin-left: 1em;
    font-size: 1.5em;
    transition: 0.2s;
  }
}
.foot {
  flex-direction: column;
}
.logo {
  font-size: 1.8em;
}
.button:hover {
  color: white;
}
.face:hover {
  color: rgb(68, 68, 255);
}
.youtube:hover {
  color: red;
}
.insta:hover {
  color: rgb(233, 46, 233);
}
.x:hover {
  color: rgb(103, 201, 233);
}
@media (max-width: 600px) {
  .menu {
    display: flex;
  }
  header{
    justify-content: space-between;
  }
  nav,
  nav ul {
    position: absolute;
    left: 0;
    top: 11vh;
    flex-direction: column;
    height: 30vh;
    background-color: var(--off-white);
    box-shadow: 0 3px 5px gray;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }
  nav ul {
    left: 0;
    top: 0;
    padding: 0;
  }
  /*******home*/
  .home {
    flex-direction: column;
    height: fit-content;
  }
  .txt {
    margin-top: 2em;
    width: 90%;
  }
  .imgs {
    flex-direction: column;
    align-items: center;
    margin: 2em;
    img {
      margin-bottom: 2em;
    }
  }
  .img1 {
    margin-right: 0;
  }
  /*************design*/
  .design {
    height: fit-content;
    padding-left: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .design-txt {
    width: 100%;
    position: relative;
    left: 0;
    top: auto;
    h3 {
      width: 100%;
    }
  }
  .design img {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    place-items: center;
  }
  .img3 {
    width: 20em;
  }
  .img4 {
    height: 40vh;
    width: 15em;
  }
  .img5 {
    height: 18vh;
    width: 20em;
  }
  /***********unique*/
  .unique {
    padding: 2em;
    height: fit-content;
  }
  .photos {
    flex-direction: column;
  }
  .photo {
    margin-bottom: 3em;
  }
  .photo:nth-child(1) {
    margin-top: 1em;
  }
  /*********about*/
  .about {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
    gap: 0;
  }
  .img6 {
    height: 50vh;
  }
  /*/////7ekma///*/
  .inner-txt {
    width: 80%;
    h2 {
      left: 7%;
      top: 11%;
    }
    h4 {
      font-size: 1.8em;
    }
  }
  /********gallery*/
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
  }
  .items {
    height: 50vh;
  }
  /********blog*/
  .blog-sec p {
    width: 70%;
    text-align: center;
  }
  .blog p {
    width: 100%;
  }
  .news {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .blog {
    width: 80%;
  }
  /*******footer*/
  footer {
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    padding: 2em;
    ul {
      padding: 0 1em;
    }
  }
  .soc {
    width: fit-content;
  }
  .soc a {
    margin: 0 0.8em 0 0;
  }
  .contact-btn {
    width: 8em;
  }
}
@media (max-width: 460px) {
  /******home*/
  .imgs img {
    width: 100%;
  }
  /***about*/
  .design {
    height: 140vh;
  }
  /*////blog*/
  .blog-sec p {
    width: 88%;
  }
}
@media (max-width:380px) {
  .design{
    height: 160vh;
    padding: 2em;
  }
  .wisdom{
    height: 66vh;
    h4{
      font-size: 1.5em;
    }
  }
  footer{
    padding: 1em;
  }
}